body {
    color: rgb(255, 255, 255);
    background-image: url(/Imagens/background_page2.jpg);
}

#h1secundario {
    position: fixed;
    top: 50px;
    left: 400px;
}

#botaovoltar {
    position: fixed;
    top: 180px;
    left: 680px;
}